#
# Rails
#
# 実行ユーザ
SPA_PRACTICE_APP_USER=vagrant
SPA_PRACTICE_DOMAIN_NAME=spa-practice.example.com
SPA_PRACTICE_APP_HOST_NAME=app
SPA_PRACTICE_APP_ALLOW_ORIGIN=http://frontend.spa-practice.example.com
SPA_PRACTICE_APP_GOOGLE_OAUTH_ID=
SPA_PRACTICE_APP_GOOGLE_OAUTH_SECRET=

#
# DB
#
SPA_PRACTICE_DB_HOST=db.spa-practice.example.com
SPA_PRACTICE_DB_USER=spa_practice
SPA_PRACTICE_DB_USER_PASSWORD=spa_practice_p4ssw0rd
SPA_PRACTICE_DB_NAME=spa_practice
